# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# all files if not overridden below
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
indent_style = space
indent_size = 2

[{package.json}]
indent_style = space
indent_size = 2
